:root{
  /* Font */
  --primaryFont: system-ui, -apple-system, Roboto, 'Open Sans', sans-serif;
  --secondaryFont: system-ui, -apple-system, Verdana, sans-serif;

  /* Kleuren */
  --primaryColor: #388087;
  --secondaryColor: #c2edce;
  --lightColor100: #ffffff;
  --lightColor200: #f6f6f2;
  --lightCoror300: #f5f5dc;
  --darkColor100: #000000;
  --darkColor200: #2f2f2f;

  /* margin/padding */
  --primaryMargin: 1em;
  --primaryPadding: 1em;
  --lineLenght: 30rem;
}

aside{
  padding: var(--primaryPadding);
  background-color: var(--secondaryColor);
}

.initiatief{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(352px, 352px)); /*Zorgt ervoor dat de grid automatisch verandert met het scherm*/
  justify-content: center;
  width: 85vw;
  list-style: none;

  & li a {
    text-decoration: none;
    color: var(--darkColor100);
  }

  & .card {
    margin: var(--primaryMargin);
  }

}

/*#region MediaQueries*/
@media only screen and (min-width: 600px){
  body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "h h"
      "n n"
      "a m";
  
  }
  
  header{
    grid-area: h;
  }
  
  nav{
    grid-area: n;
  }
  
  aside{
    grid-area: a;
  }
  
  main{
    grid-area: m;
  }
}
/*#endregion MediaQueries*/