aside{
  padding: var(--primaryPadding);
  background-color: var(--tertiaryColor);
}

.initiatief{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(352px, 352px)); /*Zorgt ervoor dat de grid automatisch verandert met het scherm*/
  justify-content: center;
  width: 100vw;
  list-style: none;

  & li a {
    text-decoration: none;
    color: var(--darkColor100);
  }

  & .card {
    margin: var(--primaryMargin);
  }

}

/*#region MediaQueries*/
@media only screen and (min-width: 600px){
  body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "h h"
      "n n"
      "a m"
      "f f";
  
  }
  
  header{
    grid-area: h;
  }
  
  nav{
    grid-area: n;
  }
  
  aside{
    grid-area: a;
  }
  
  main{
    grid-area: m;
  }

  footer{
    grid-area: f;
  }

  .initiatief{
    width: 85vw;
  }
}
/*#endregion MediaQueries*/