/*#region Main*/
main {
  margin: 0;

  & article{
    margin: var(--primaryMargin);
    padding: var(--primaryPadding);
    
  }

  & p{
    margin: var(--primaryMargin) 0;
    max-width: var(--lineLenght);
  }

  & section{
    align-items: center;
    text-align: left;
  }
}

h1{
  text-align: center;
  font-size: 2rem;
}

.recommendLab{
  display: none;
}

.topImg {
  width: 100vw;
  height: 30vh;
}

/*#endregion Main*/

