/*#region Main*/
main{
  margin: 0;

  & article{
    margin: var(--primaryMargin);
    padding: var(--primaryPadding);
    
  }

  & p{
    margin: var(--primaryMargin) 0;
    max-width: var(--lineLenght);
  }
}
/*#endregion Main*/

