*{
  font-family: system-ui, -apple-system, Roboto, 'Open Sans', sans-serif;
}

:root {
  --white: #fff;
  --grey: #f6f6f2;
  --mintgreen: #c2edce;
  --blue: #388087;
  --black: #000;
}

header {
  background-color: white;
  margin-bottom: 1rem;
  color: #388087;
  text-align: center;
}

h1{
  text-transform: uppercase;
}

h2{
  text-transform: uppercase;
}

nav{
  background-color: var(--blue);
  text-align: center;
}

nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

nav ul li{
  padding: 1em;
  width: 20vw;
}

nav a{
  color:var(--white);
  text-decoration: none;
}

nav a:hover{
  color: beige;
  text-decoration: underline;
}
