*{
  font-family: system-ui, -apple-system, Roboto, 'Open Sans', sans-serif;
}
header {
  background-color: white;
  margin-bottom: 1rem;
  color: #388087;
  text-align: center;
}

h1{
  text-transform: uppercase;
}

h2{
  text-transform: uppercase;
}

nav{
  background-color: #c2edce;
  text-align: center;
}

nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

nav ul li{
  padding: 1em;
  width: 20vw;
}

nav a{
  color:black;
  text-decoration: none;
}

nav a:hover{
  color:#388087;
  text-decoration: underline;
}
